<h1>
	We are Team Finishers!
</h1>
<p>
	Welcome to our chess app. Chess me if you can!
</p>


<h2> Available Games: </h2>
<% @games.each do |game| %>
	<% if game.white_player_user_id == nil || game.black_player_user_id == nil %>
		<ul>
			<li> <%= link_to "Game #{game.id}", game_path(game) %> </li>
		</ul>
	<% end %>
<% end %>
