@import "bootstrap";

.gameBoard {
  padding: 20px;
  margin: 0px auto;

}

.whiteSquare {
  background-color: white;
  height: 50px;
  width: 50px;
  border-style: solid;
}

.blackSquare {
  background-color: black;
  height: 50px;
  width: 50px;
  border-style: solid;
}
